/* ------------- Styling for the main page ----------------- */

/* Styling for the body below */
body {
    background-image: url(../img/abstract-background-279.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling for the heading class(H1)  */

.heading {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.question-container{
    background-color: black;
    margin: 10px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 2%;
    text-align: justify;
}

/* Styling for the submit button */
.button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    cursor: pointer;
    margin-top: 20px;
}
/* Styling for my h3 tags */
h3 {
    color: white;
}

/* Styling for radio buttons */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background:orange;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* --------------Media Queries start here------------------ */

@media (max-width: 360px) {
    .title-1 {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 28px;
    }
}

@media (max-width: 760px) {
    .title-1 {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 35px;
    }
}






