/* ------------- Styling for the main page ----------------- */

/* Styling for the body below */
body {
    background-image: url(../img/abstract-background-279.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling for the heading class(H1)  */

.heading {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.question-container{
    background-color: black;
    margin: 10px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 2%;
    text-align: justify;
}

/* Styling for the submit button */
.button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    cursor: pointer;
    margin-top: 20px;
}
/* Styling for my h3 tags */
h3 {
    color: white;
}

/* --------------Media Queries start here------------------ */

@media (max-width: 360px) {
    .title-1 {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 28px;
    }
}

@media (max-width: 760px) {
    .title-1 {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 35px;
    }
}