/* ---------Styling for the results page-------------- */

/* STyling for the body below */
body {
    background-image: url(../img/blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Styling for the image class below */
.image {
    height: 75px;
    width: 75px;
    grid-column: 1/2;
    margin-top: 15px;
}
/* Created a grid container class */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Styling for the counter class(Score display) */
.counter {
    position: relative;
    top: 200px;
    grid-column: 2/3;
    text-align: center;
    font-size: 40px;
}

/* --------------------- Media Queries below --------------------------- */
@media (max-width:360px) {

    .grid.grid-container {
        display: none;
    }

    .title-1 {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 28px;
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }
    .image {
        position: relative;
        width: 45px;
        height: 45px;
    }
    
    .counter {
        font-size: 15px;
        grid-column: 1/4;
        right: 90px;
    }
}

@media (max-width:760px) {
    
    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }
    .image {
        position: relative;
        top: 50px;
        width: 45px;
        height: 45px;
    }

    .counter {
        font-size: 20px;
    }
}